
@{
    ViewData["Title"] = "EditGrades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditGrades</h1>

<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" value="Mark Otto">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Grade</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Observations:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>