@model Tokens

@{
    ViewData["Title"] = "Profile";
}

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
                <h1>Access Token</h1>
                <p>@Model.AccessToken</p>
                <h1>Id Token</h1>
                <p>@Model.IdToken</p>
            </div>
        </div>
    </div>
</section>

