
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Access Denied.</h1>
        <p class="lead">You don't have enough permissions.</p>
        <p class="lead">
            <a class="btn btn-lg btn-secondary" asp-area="" asp-controller="Home" asp-action="Private">Go to Private</a>
        </p>
    </main>

</div>