<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <NavLink href="" class="nav-link" Match="NavLinkMatch.All">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="applications" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>Applications</p>
            </NavLink>
        </li>
    </ul>
</nav>

@code {

}
