<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters">
            <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                <form action="#">
                    <div class="form-group">
                        <label>Student</label>
                        <select class="form-control">
                            <option>Perter Parker.</option>
                            <option>Mary Jane.</option>
                            <option>Harry Osborn.</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Subject</label>
                        <select class="form-control">
                            <option>Engineering Mathematics.</option>
                            <option>Electronic Circuits.</option>
                            <option>Logic Design.</option>
                            <option>Discrete Mathematical Structures.</option>
                            <option>Object-Oriented Programming With C++.</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Grade</label>
                        <select class="form-control">
                            <option>A+</option>
                            <option>A.</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B</option>
                            <option>B-</option>
                            <option>C+</option>
                            <option>C</option>
                            <option>C-</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary py-3 px-5">Save</button>
                        <div asp-validation-summary="All"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>