<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Access Denied</h1>
                <p class="lead">
                    <a class="btn btn-lg btn-secondary" asp-controller="Home" asp-action="Index">Go to Home</a>
                </p>
            </div>
        </div>
    </div>
</section>