@{
    ViewData["Title"] = "Contoso University";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso University</h1>
    <p>Contoso University is a sample application that demostrate how to use Balea in an ASP.NET Core MVC web applications in order to manage user authorization in a right way.</p>
</div>
