@{
    ViewData["Title"] = "Private area";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your personal information.</p>

@foreach (var identity in User.Identities)
{
    <h3>Authentication scheme: @identity.AuthenticationType</h3>
    <ul>
        @foreach (var claim in identity.Claims)
        {
            <li>Claim: @claim.Type - @claim.Value</li>
        }
    </ul>
}

<h3>Roles and permissions</h3>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <h5 class="card-header">Teachers</h5>
    <div class="card-body">
        <p class="card-text">Teachers can view and edit grades.</p>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="ViewGrades">View grades</a>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="EditGrades">Edit grades</a>
    </div>
</div>


<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Substitutes</div>
    <div class="card-body">
        <p class="card-text">Substitutes can view and edit grades when a teacher delegate his/her permissions.</p>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="ViewGrades">View grades</a>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="EditGrades">Edit grades</a>
    </div>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Custodians</div>
    <div class="card-body">
        <p class="card-text">Custodians open and close doors.</p>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="OpenDoor">Open doors</a>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="CloseDoor">Close doors</a>
    </div>
</div>

